<div class="banner">
  <a href="/" class="no-effects">
    <img src="https://pbs.twimg.com/profile_images/605134237709168641/X2BdCspA.jpg"
    class="profile-pic">
  </a>
  <div class="banner-content">
    <a href="/" class="no-effects">
      <h1> Alejo Rivera </h1>
    </a>

    <nav>
      <a href="mailto:alejo@alejorivera.com?">alejo@alejorivera.com</a>
      <span class="vertical-divider"></span>
      <a href="https://twitter.com/poralejo">@poralejo</a>
    </nav>
  </div> <!-- end banner text -->
</div> <!-- end banner -->
