<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}

<body>
  <section class="book">

    {% include banner.html %}

    <a href="/bookshelf" class="back-to">
      ← Back to bookshelf 📚
    </a>

    <div class="book-info">
      <img src="http://images.amazon.com/images/P/{{ page.isbn }}.01.LZZZZZZZ.jpg"
      alt="cover for {{ page.title }}" class="cover">

      <div class="book-info-content">
        <h1 class="title">{{ page.title }} — by {{ page.author }}</h2>
        <div class="rating">
          <span class="rating-text">Rating:</span>
          <span class="big-number">{{ page.rating }}</span><span class="small-number">/10</span>
        </div> <!-- end rating -->
      </div> <!-- end book info content -->
    </div> <!-- end book-info -->

    {{ content }}

    {% include import_js.html %}
  </section>
</body>

</html>
